section.BannerSocial
    .container
        .row
            each items in [1,2,3]
                .col-lg-4
                    img(src="https://cscmobi.com/wp-content/uploads/2018/09/applestore.png")