section.JoinTeam
   .container
       +TitleHeader({ title:'Bạn muốn tham gia cùng',subtitle:'CSCMobi team?' })
       .row
           each items in [1,2,3,4,5,6]
               .col-lg-4.mb-5
                   +CardItem({src: './assets/images/sync-icon.png', width: "80"})
       .col-12
           .HeroBanner-left-action.flex.justify-center
               +Button({
                   link:'#',
                   title: 'Tuyển dụng',
                   className: 'secondary',
                   size: 'small',
               })
               +Button({title: 'Liên hệ', size: 'small', link:'#'})