.CardItem{
  &.horizontal{
    display: flex;
    .CardItem-header{
      margin-right: 1.5rem;
    }
  }
  &.title-color-red{
    .CardItem-body-title a{
      color: $red!important;
      font-size: 3rem;
      height: 45px;
    }
  }
  .TeamBuilding-category{
    font-size:1.8rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    position: relative;
    &:after{
      position: absolute;
      content: "";
      width: 20%;
      height: 2px;
      background: $red;
      left: 0;
      bottom: 0;
    }
  }
  &.card-hiring{
    padding: 5rem 0;
    border-bottom: 1px solid rgba(24,24,24,.1);
    .CardItem-header{
      width: 120px;
      img{
        width: 100%;
        border-radius: 50%;
        min-height: auto;
      }
      .isHiring{
        text-align: center;
        a{
          font-size: 1.4rem;
          color: $red;
        }
        &-date{
          font-size: 1.4rem;
        }
      }
    }
    .CardItem-body-title{
      font-size: 2.8rem;
    }
    .CardItem-body-desc{
      font-size: 1.4rem;
      margin: 2rem 0;
      @media (max-width: 992px) {
        font-size: 1.8rem;
      }
    }

  }
  &-header{
    &-icon{
      font-size: 40px;
      color: $red;
      &.hover{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #181818;
        transition: .2s;
        background-color: transparent;
        -webkit-box-shadow: 0 0 0 1px var(--primary-color,black) inset;
        box-shadow: 0 0 0 1px var(--primary-color,black) inset;
        color: black;
        line-height: 0;
        -webkit-box-shadow: 0 0 0 2px #000 inset;
        box-shadow: 0 0 0 2px #000 inset;
        i{
          font-size: 40px;
          color: black;
        }
        &:hover{
          box-shadow: 0 0 0 2px #ffffff inset;
          background-color: #181818;
          color: #ffffff;
          i{
            color: white;
          }
        }
      }
    }
    a{
      img{
        min-height: 350px;
        object-fit: cover;
      }
    }
  }
  &-body{
    &-title{
      font-weight: 700;
      color: $black;

      a{
        font-weight: 700;
        color: $black;
        font-size: 2rem;
        white-space: normal;
        word-break: break-word;
        height: 26px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-line-clamp: 1;
        -moz-line-clamp: 1;
        -line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
    &-desc{
      font-size: 1.5rem;
    }
    &-category{
      &-big{
        color: $red!important;
        font-size: 1.6rem;
        text-transform: uppercase;
        &:first-child{
          margin-right: 3rem;
        }
      }
    }
  }
  &.vertical{
    flex-direction: column;

    .CardItem-header{
      margin: 0;
    }
    &.building{
      background: white;
    }
    &.no-background{
      background: transparent;
    }
    .CardItem-body{
      padding: 2rem;
      &-title{
        margin-bottom: 1rem;
      }
    }
  }
}
.Card-item-body{
  &-bottom{
    &-social{
      &-item{
        margin-right: 1rem;
        &-link{
          background: $blue-icon;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          i{
            color: white;
            font-size: 1.6rem;
          }
          &.tw{
            background: #1da1f2;
          }
          &.linkein{
            background: #007bb5;
          }
        }
      }
    }
  }
}