.Title-component{
  .TitleHeader{
    &-content{
      font-size: 5rem;
      @media (max-width: 992px) {
        font-size: 3rem;
      }
      strong{
        color: $red;
        font-weight: 700;
      }
    }
    &.custom{
      margin: 5rem 0;
    }
  }
  .Description{
    font-size: 1.6rem;
  }
}
