extends includes/layouts/Admin.pug

block pages
  include includes/containers/ModalFileSavedSuccess.pug

  +Banner({ image: './assets/images/image-banner-school-list.png', text: 'Nộp hồ sơ', height: '26.4rem' })

  .ProfilePage
    .container 
      .ProfilePage-wrapper.include-step
        .EditProfile
          form(action="#" style="padding: 0;").EditProfile-form
            .SubmitFilePage-step-header.flex.items-center.justify-between
              each item in [1,2,3,4,5]
                .SubmitFilePage-step-header-item.flex.items-center.justify-center= item

            .UpdateInfoSturyAbroad-step
              .Card 
                .Card-header.text-center Thông tin cá nhân
                .Card-body(style="padding: 2rem;")
                  .EditProfile-form-control.flex.flex-wrap 
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Tên của bạn:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Ngày tháng năm sinh:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Nơi sinh: 
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Giới tính: 
                      .RadioGroup
                        .RadioGroup-wrapper.flex.items-center.flex-wrap
                          +Radio({ name: 'gender', label: 'Nam' })
                          +Radio({ name: 'gender', label: 'Nữ' })

                    .EditProfile-form-item.vertical
                      .ProfilePage-label Địa chỉ thường trú (theo sổ hộ khẩu):
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.vertical
                      .ProfilePage-label Địa chỉ hiện tại:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.full.vertical
                      .ProfilePage-label Thời gian ở tại địa chỉ này:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label SĐT cá nhân:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label SĐT thay thế:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label Email:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Số CMND/CCCD:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Nơi cấp
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Ngày cấp:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Ngày hết hạn:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Số hộ chiếu:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Nơi cấp
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Ngày cấp:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Ngày hết hạn:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label.auto Bạn có hộ chiếu khác không
                      .RadioGroup
                        .RadioGroup-wrapper.flex.items-center.flex-wrap
                          +Radio({ name: 'anotherCard', label: 'Có' })
                          +Radio({ name: 'anotherCard', label: 'Không' })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Số hộ chiếu:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Nơi cấp
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Ngày cấp:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Ngày hết hạn:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item
                    .EditProfile-form-item.EditProfile-form-item-submit.flex.items-center.justify-end
                      +Button({ className: 'UpdateInfoSturyAbroad-step-submit', title: 'Tiếp theo' })

            .UpdateInfoSturyAbroad-step
              .Card 
                .Card-header.text-center Thông tin gia đình
                .Card-body(style="padding: 2rem;")
                  .EditProfile-form-control.flex.flex-wrap 
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Họ và tên bố:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Ngày tháng năm sinh:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.vertical
                      .ProfilePage-label Địa chỉ hiện tại:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.vertical
                      .ProfilePage-label Nghề nghiệp:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Số điện thoại:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Email:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Họ và tên mẹ:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Ngày tháng năm sinh:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.vertical
                      .ProfilePage-label Địa chỉ hiện tại:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.vertical
                      .ProfilePage-label Nghề nghiệp:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Số điện thoại:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Email:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label TÌnh trang hôn nhân:
                      .RadioGroup
                        .RadioGroup-wrapper.flex.items-center.flex-wrap
                          +Radio({ name: 'relationshipStatus', label: 'Kết hôn' })
                          +Radio({ name: 'relationshipStatus', label: 'Độc thân' })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Tên vợ/chồng:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Ngày tháng năm sinh:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Nơi sinh:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Quốc tịch
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.vertical.full
                      .ProfilePage-label Địa chỉ hiện tại:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Tên con 1:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Ngày tháng năm sinh:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Nơi sinh:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Quốc tịch
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.vertical.full
                      .ProfilePage-label Địa chỉ hiện tại:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Tên con 2:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Ngày tháng năm sinh:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Nơi sinh:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Quốc tịch
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.vertical.full
                      .ProfilePage-label Địa chỉ hiện tại:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item
                    .EditProfile-form-item.EditProfile-form-item-submit.flex.items-center.justify-end
                      +Button({ className: 'UpdateInfoSturyAbroad-step-submit', title: 'Tiếp theo' })

            .UpdateInfoSturyAbroad-step
              .Card 
                .Card-header.text-center Thông tin học thuật 
                .Card-body(style="padding: 2rem;")
                  .EditProfile-form-control.flex.flex-wrap 
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Bằng cấp cao nhất:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Bạn đã đi làm chưa:
                      .RadioGroup
                        .RadioGroup-wrapper.flex.items-center.flex-wrap
                          +Radio({ name: 'isWorked', label: 'Chưa' })
                          +Radio({ name: 'isWorked', label: 'Rồi' })

                    .EditProfile-form-item.full.vertical
                      .ProfilePage-label #[span Vui lòng cung cấp thông tin bậc học gần nhất.]

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Tên trường:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Chuyên ngành:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Niên khóa:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Địa chỉ:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.full.vertical
                      .ProfilePage-label #[span Vui lòng cung cấp thông tin 2 người giới thiệu]

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Họ tên (1):
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Chức vụ:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Email:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Số điện thoại:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Họ tên (2):
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Chức vụ:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Email:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Số điện thoại:
                      +Input({ size: 'small', bordered: true })


                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label Bạn đã thi IELTS chưa:
                      .RadioGroup
                        .RadioGroup-wrapper.flex.items-center.flex-wrap
                          +Radio({ name: 'ielts', label: 'Chưa' })
                          +Radio({ name: 'ielts', label: 'Rồi' })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Overall
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Ngày thi
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Reading:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Listening:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Writing:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Speaking:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label Test Report Form No:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item
                    .EditProfile-form-item.EditProfile-form-item-submit.flex.items-center.justify-end
                      +Button({ className: 'UpdateInfoSturyAbroad-step-submit', title: 'Tiếp theo' })

            .UpdateInfoSturyAbroad-step
              .Card 
                .Card-header.text-center Thông tin công việc
                .Card-body(style="padding: 2rem;")
                  .EditProfile-form-control.flex.flex-wrap 
                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label Bạn đã đi làm chưa:
                      .RadioGroup
                        .RadioGroup-wrapper.flex.items-center.flex-wrap
                          +Radio({ name: 'isWorked', label: 'Chưa' })
                          +Radio({ name: 'isWorked', label: 'Rồi' })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Tên cơ quan:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Thời gian làm việc:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.full.vertical
                      .ProfilePage-label Địa chỉ :
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Số điện thoại:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Email:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Chức vụ:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Mức lương:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item
                    .EditProfile-form-item.EditProfile-form-item-submit.flex.items-center.justify-end
                      +Button({ className: 'UpdateInfoSturyAbroad-step-submit', title: 'Tiếp theo' })

            .UpdateInfoSturyAbroad-step
              .Card 
                .Card-header.text-center Thông tin lịch sử du lịch
                .Card-body(style="padding: 2rem;")
                  .EditProfile-form-control.flex.flex-wrap 
                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label.auto Bạn đã đi nước ngoài chưa
                      .RadioGroup
                        .RadioGroup-wrapper.flex.items-center.flex-wrap
                          +Radio({ name: 'isAboard', label: 'Chưa' })
                          +Radio({ name: 'isAboard', label: 'Rồi' })

                    .EditProfile-form-item.vertical.full
                      .ProfilePage-label #[span Vui lòng cung cấp thông tin 10 năm gần nhất:]

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Quốc gia 1:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Thời gian :
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label Mục đích:
                      +Input({ size: 'small', bordered: true })


                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Quốc gia 2:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Thời gian :
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label Mục đích:
                      +Input({ size: 'small', bordered: true })


                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Quốc gia 3:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Thời gian :
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label Mục đích:
                      +Input({ size: 'small', bordered: true })


                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Quốc gia 4:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Thời gian :
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label Mục đích:
                      +Input({ size: 'small', bordered: true })


                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Quốc gia 5:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Thời gian :
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label Mục đích:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label.auto Bạn đã đi Anh Quốc chưa
                      .RadioGroup
                        .RadioGroup-wrapper.flex.items-center.flex-wrap
                          +Radio({ name: 'isAboardEngland', label: 'Chưa' })
                          +Radio({ name: 'isAboardEngland', label: 'Rồi' })

                    .EditProfile-form-item.vertical.full
                      .ProfilePage-label #[span Vui lòng cung cấp thông tin :]

                    .EditProfile-form-item.flex.items-center.three
                      .ProfilePage-label NI Number
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center.three
                      .ProfilePage-label Thời gian:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center.three
                      .ProfilePage-label BRP number:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label.auto Bạn đã từng bị trượt visa nước nào chưa
                      .RadioGroup
                        .RadioGroup-wrapper.flex.items-center.flex-wrap
                          +Radio({ name: 'isMissVisa', label: 'Chưa' })
                          +Radio({ name: 'isMissVisa', label: 'Rồi' })

                    .EditProfile-form-item.vertical.full
                      .ProfilePage-label Vui lòng cung cấp thông tin: thời gian - tên nước - loại visa bị từ chối
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label.auto Bạn đã từng vi phạm pháp luật hay bị cảnh cáo tại quốc gia nào chưa?
                      .RadioGroup
                        .RadioGroup-wrapper.flex.items-center.flex-wrap
                          +Radio({ name: 'isPolicy', label: 'Chưa' })
                          +Radio({ name: 'isPolicy', label: 'Rồi' })

                    .EditProfile-form-item.vertical.full
                      .ProfilePage-label Vui lòng cung cấp thông tin: lý do và quốc gia xảy ra sự việc:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label.auto Bạn đã từng bị từ chối nhập cảnh tại quốc gia nào chưa?
                      .RadioGroup
                        .RadioGroup-wrapper.flex.items-center.flex-wrap
                          +Radio({ name: 'isDenine', label: 'Chưa' })
                          +Radio({ name: 'isDenine', label: 'Rồi' })

                    .EditProfile-form-item.vertical.full
                      .ProfilePage-label Vui lòng cung cấp thông tin: lý do và quốc gia xảy ra sự việc:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label.auto Bạn có người thân tại quốc gia du học không?
                      .RadioGroup
                        .RadioGroup-wrapper.flex.items-center.flex-wrap
                          +Radio({ name: 'isFriend', label: 'Chưa' })
                          +Radio({ name: 'isFriend', label: 'Rồi' })

                    .EditProfile-form-item.vertical.full
                      .ProfilePage-label #[span Vui lòng cung cấp thông tin :]

                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Họ và tên:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Số điện thoại:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Email:
                      +Input({ size: 'small', bordered: true })
                    .EditProfile-form-item.flex.items-center
                      .ProfilePage-label Địa chỉ:
                      +Input({ size: 'small', bordered: true })

                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label.auto Bạn cam kết các thông tin khai ở trên hoàn toàn chính xác?
                      .RadioGroup
                        .RadioGroup-wrapper.flex.items-center.flex-wrap
                          +Radio({ name: 'commit', label: 'Có' })

                    .EditProfile-form-item.flex.items-center.full
                      .ProfilePage-label.auto Thông tin của bạn sẽ được bảo mật theo #[a(href="#") #[span Chính sách bảo mật thông tin]]:
                      .RadioGroup
                        .RadioGroup-wrapper.flex.items-center.flex-wrap
                          +Radio({ name: 'private', label: 'Có' })

                    .EditProfile-form-item
                    .EditProfile-form-item.EditProfile-form-item-submit.flex.items-center.justify-end
                      +Button({ className: 'UpdateInfoSturyAbroad-step-submit js-open-modal', dataModalId: '#ModalFileSavedSuccess', title: 'Hoàn thành' })