extends includes/layouts/Admin.pug

block pages
  .ProfilePage
    .container 
      .ProfilePage-wrapper.flex.flex-wrap.flex-row-reverse
        .ProfilePage-wrapper-item
          .Card.ProfilePage-table-content
            .Card-header.text-center THông tin của bạn
            .Card-body(style="padding: 2rem;")
              .TrackProfile-text
                |Tên của bạn: 
                strong Hoang Huy
              br
              .TrackProfile-text
                |Quốc gia du học: 
                strong Anh Quốc
              br
              .TrackProfile-text
                |Số điện thoại: 
                strong 0364 111 99
              br
              .TrackProfile-text
                |Bậc học: 
                strong Đại học
              br
              .TrackProfile-text
                |Email: 
                strong Hoanghuy123@gmail.com
              br
              .TrackProfile-text
                |Ielts: 
                strong 7.5
              br
              .TrackProfile-text
                |Thời gian gửi: 
                strong 08:00 - 20/07/2022
              br
              .TrackProfile-text
                |Trạng thái: 
                strong.pending Đang chờ xét duyệt

        .ProfilePage-wrapper-item
          .TrackProfileDetail
            .Card 
              .Card-header.text-center THông tin hồ sơ
              .Card-body(style="padding: 3.2rem 0")
                .SubmitFilePage-step-body-item
                  each item in ['Hồ sơ học thuật', 'Hồ sơ cá nhân', 'Hồ sơ tài chính']
                    .Collapse.style-content.active
                      .Collapse-header 
                        h4.Collapse-title= item
                      .Collapse-body 
                        .SubmitFilePage-upload-list.flex.flex-wrap
                          each item in [1,2,3,4,5,6]
                            .SubmitFilePage-upload-list-item
                              .SubmitFilePage-upload-list-item-image 
                                img(src="./assets/icons/icon-pdf.svg", alt="")
                              .SubmitFilePage-upload-list-item-info
                                h5.SubmitFilePage-upload-list-item-title Lorem Ipsum is simply dum.pdf
                                .SubmitFilePage-upload-list-item-delete.flex.items-center 
                                  .SubmitFilePage-upload-list-item-delete-icon 
                                    img(src="./assets/icons/icon-delete.svg", alt="")
                                  |Xóa