extends includes/layouts/Guest.pug

block pages
  .SchoolListPage
    +Banner({ text: 'Danh sách trường', image: './assets/images/image-banner-school-list.png', height: '26.4rem' })
    .container 
      .SchoolListPage-wrapper(style="padding-top: 4rem;")
        h6.SchoolListPage-search-text 20 trường được tìm kiếm

        .SchoolListPage-list.flex.flex-wrap 
          each item, index in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
            .SchoolListPage-list-item 
              +SchoolBlock({
                index,
                image: './assets/images/logo-university.png',
                title: 'City, University of London',
                description: 'We are the UK’s leading provider of digital and blended distance  education',
                country: 'UK',
                tag: 'VIP',
                link: 'chi-tiet-truong.html',
                flag: './assets/images/image-flag.png',
              })

  