html(lang='en')
  head
    meta(charset='utf-8')
    title KING STUDY
  body
    -
      const dataLinks = [
        { link: 'index.html', title: 'Trang chủ' },
        { link: 'gioi-thieu.html', title: 'Giới thiệu' },
        { link: 'lien-he.html', title: 'Liên hệ' },
        { link: 'danh-sach-truong.html', title: 'Danh sách trường' },
        { link: 'danh-sach-truong-sau-khao-sat.html', title: 'Danh sách trường sau khảo sát' },
        { link: 'so-sanh-truong.html', title: 'So sánh trường' },
        { link: 'chi-tiet-truong.html', title: 'Chi tiết trường' },
        { link: 'tin-tuc-su-kien.html', title: 'Tin tức sự kiện' },
        { link: 'chi-tiet-tin-tuc-su-kien.html', title: 'Chi tiết tin tức sự kiện' },
        { link: 'khao-sat.html', title: 'Khảo sát' },
        { link: 'nop-ho-so.html', title: 'Nộp hồ sơ' },
        { link: 'chinh-sua-thong-tin-ca-nhan.html', title: 'Chỉnh sửa thông tin cá nhân' },
        { link: 'theo-doi-ho-so.html', title: 'Theo dõi hồ sơ' },
        { link: 'chi-tiet-ho-so.html', title: 'Chi tiết hồ sơ' },
        { link: 'dieu-khoan-chinh-sach.html', title: 'Điều khoản chính sách' },
        { link: 'doi-mat-khau.html', title: 'Đổi mật khẩu' },
        { link: 'cap-nhat-thong-tin-du-hoc.html', title: 'Cập nhật thông tin du học' },
        { link: 'quan-ly-ho-so.html', title: 'Quản lý hồ sơ' },
      ]

    each item in dataLinks 
      a(href=`${item.link}` target="_blank")= item.title
      br