extends includes/layouts/Admin.pug

block pages
  .ProfilePage
    .container 
      .ProfilePage-wrapper.flex.flex-wrap
        .ProfilePage-wrapper-item
          .Card.ProfilePage-table-content
            .Card-header.text-center Tài khoản
            .Card-body 
              ul.ProfilePage-table-content-list 
                each item in dataProfileTableContent
                  li.ProfilePage-table-content-list-item 
                    a(href=`${item.link}` class=`${item.isActive ? 'active' : ''}`)= item.title
                li.ProfilePage-table-content-list-item 
                  span.js-open-modal(data-modal-id="#ModalLogout") Đăng xuất

        .ProfilePage-wrapper-item
          .PrivacyPolicy
            .Card 
              .Card-header.text-center Điều khoản chính sách
              .Card-body(style="padding: 3.2rem;")
                .style-content
                  img(src="./assets/images/image-privacy-policy.png", alt="")
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  img(src="./assets/images/logo.svg", alt="")

                  p.text-center Version 1.1