extends includes/layouts/Admin.pug

block pages
  .ProfilePage
    .container 
      .ProfilePage-wrapper.flex.flex-wrap
        .ProfilePage-wrapper-item
          .Card.ProfilePage-table-content
            .Card-header.text-center Tài khoản
            .Card-body 
              ul.ProfilePage-table-content-list 
                each item in dataProfileTableContent
                  li.ProfilePage-table-content-list-item 
                    a(href=`${item.link}` class=`${item.isActive ? 'active' : ''}`)= item.title
                li.ProfilePage-table-content-list-item 
                  span.js-open-modal(data-modal-id="#ModalLogout") Đăng xuất

        .ProfilePage-wrapper-item
          .ChangePassword
            .Card 
              .Card-header.text-center THay đổi mật khẩu mới
              .Card-body
                form(action="#").ChangePassword-form
                  .ChangePassword-form-logo 
                    img(src="./assets/images/logo.svg", alt="")

                  .ChangePassword-form-control.flex.flex-wrap 
                    .ChangePassword-form-item
                      +Input({ type: 'password', placeholder: 'Mật khẩu cũ', size: 'small', bordered: true })
                    .ChangePassword-form-item
                      +Input({ type: 'password', placeholder: 'Mật khẩu mới', size: 'small', bordered: true })
                    .ChangePassword-form-item
                      +Input({ type: 'password', placeholder: 'Nhập lại mật khẩu mới', size: 'small', bordered: true })

                  .ChangePassword-form-submit.flex.justify-center
                    +Button({ title: 'Xác nhận', size: 'small' })