extends includes/layouts/Guest.pug

block pages
    section.activity.pb-5.pt-5
        .container
            .row
                each item in [1,2,3,4,5,6]
                    .col-lg-4.mb-4
                        a(href="./assets/images/image-related-school.png" data-fancybox="gallery").SchoolDetailPage-gallery-item
                            img(src="./assets/images/image-related-school.png", alt="" , width="100%")