extends includes/layouts/Guest.pug

block pages
  .SurveyPage
    +Banner({ text: 'Khảo sát', image: './assets/images/image-banner-school-list.png', height: '26.4rem' })

    .container 
      form(action="#").SurveyPage-wrapper.flex.flex-wrap
        .SurveyPage-wrapper-item
          .Card 
            .Card-header Quốc gia
            .Card-body(style="padding: 2.4rem 2rem;")
              .SurveyPage-nations.flex.flex-wrap
                each item in [1,2,3,4,5,6,7,8]
                  .SurveyPage-nations-col
                    .SurveyPage-nations-item
                      input(type="checkbox")
                      .SurveyPage-nations-item-control
                      .SurveyPage-nations-item-image 
                        img(src="./assets/images/image-nation.png", alt="")
                      h4.SurveyPage-nations-item-title Anh Quốc

          .Card 
            .Card-header Ngành học
            .Card-body(style="padding: 2.4rem 2rem;")
              .SurveyPage-major
                +Input({ placeholder: 'Nhập điểm', bordered: true })

                h4.SurveyPage-major-title Điểm học
                .SurveyPage-major-score
                  each item in ['Điểm học THPT', 'Điểm học đại học', 'Điểm học thạc sĩ', 'Điểm học chuyển tiếp']
                    .SurveyPage-major-score-item.flex.items-start 
                      input(type="checkbox")
                      .SurveyPage-major-score-item-control
                      .SurveyPage-major-score-item-info
                        .SurveyPage-major-score-item-info-title= item 
                        .SurveyPage-major-score-item-info-form
                          p Điểm 3 năm gần nhất
                          +Input({ placeholder: 'Nhập điểm', bordered: true })

                h4.SurveyPage-major-title THời gian bắt đầu học
                .SurveyPage-start-time.flex.flex-wrap
                  each item in ['Trong 1-3 tháng nữa', 'Trong 4-6 tháng nữa', 'Trong 7-9 tháng nữa', 'Trong 10-12 tháng nữa', 'Trong 1 năm nữa hoặc hơn']
                    .SurveyPage-start-time-item
                      input(type="radio" name="startTime")
                      .SurveyPage-start-time-item-control 
                        img(src="./assets/icons/icon-check.svg", alt="")
                      .SurveyPage-start-time-item-label= item


          .Card 
            .Card-header Điểm tổng kết (GPA)
            .Card-body(style="padding: 2.4rem 2rem;")
              +Input({ placeholder: 'Nhập điểm', bordered: true })

            
        .SurveyPage-wrapper-item
          .sticky
            .Card 
              .Card-header.text-center Học phí
              .Card-body
                each item in ['Dưới 500 triệu đồng', 'Từ 500 triệu đồng đến 1 tỉ đồng', 'Trên 1 tỉ đồng']
                  +Radio({ label: item, name: 'fee' })


            .Card 
              .Card-header.text-center Điểm Ielts
              .Card-body
                each item in ['Dưới 5.5', 'Từ 5.5 đến 7.0', 'Trên 7.0']
                  +Radio({ label: item, name: 'ielts' })

        .SurveyPage-submit.flex.justify-center 
          +Button({ title: 'Gửi khảo sát', className: 'secondary', size: 'small', bordered: true })