extends includes/layouts/Guest.pug

block pages
  .SubmitFilePage
    include includes/containers/ModalSubmitFileSuccess.pug

    +Banner({ image: './assets/images/image-banner-school-list.png', text: 'Nộp hồ sơ', height: '26.4rem' })

    .container
      form(action="#").SubmitFilePage-wrapper 
        .SubmitFilePage-step-header.flex.items-center.justify-between
          each item in [1,2,3]
            .SubmitFilePage-step-header-item.flex.items-center.justify-center= item

        .SubmitFilePage-step-body
          .SubmitFilePage-step-body-item
            h3.SubmitFilePage-title THông tin của bạn

            .SubmitFilePage-form
              .SubmitFilePage-form-control.flex.flex-wrap
                .SubmitFilePage-form-item
                  +Input({ placeholder: 'Tên của bạn', size: 'small', bordered: true })
                .SubmitFilePage-form-item
                  +Select({ placeholder: 'Quốc gia du học', size: 'small', bordered: true })
                .SubmitFilePage-form-item
                  +Input({ placeholder: 'Số điện thoại', size: 'small', bordered: true })
                .SubmitFilePage-form-item
                  +Select({ placeholder: 'Bậc học', size: 'small', bordered: true })
                .SubmitFilePage-form-item
                  +Input({ placeholder: 'Email', size: 'small', bordered: true })
                .SubmitFilePage-form-item
                  +Select({ placeholder: 'Ielts', size: 'small', bordered: true })

              .SubmitFilePage-form-submit.flex.justify-center
                +Button({ title: 'Tiếp theo', size: 'small', className: 'secondary', bordered: true })

          .SubmitFilePage-step-body-item
            h3.SubmitFilePage-title Hướng dẫn tự nộp hồ sơ

            .style-content
              p
                |The University of London is the UK’s leading provider of digital and blended distance education internationally, offering programmes to 45,000 students in 190 countries around the world. Although proudly rooted in London, our community and impact are global.
                br
                |We are a national leader in the humanities, and we promote their value to society and the economy through knowledge creation and exchange.
                br
                |We are also a federation of 17 esteemed higher education institutions, with collaboration at the heart of our ethos. The University of London federation is a collective community of more than 240,000 learners and 50,000 staff, delivering world-leading research across all disciplines.
                br
                |Our passion for increasing access to education and mobilising the collective power and expertise of the federation is central to our ability to transform lives around the world and address the global challenges of the future.

              p
                |The University of London is the UK’s leading provider of digital and blended distance education internationally, offering programmes to 45,000 students in 190 countries around the world. Although proudly rooted in London, our community and impact are global.
                br
                |We are a national leader in the humanities, and we promote their value to society and the economy through knowledge creation and exchange.
                br
                |We are also a federation of 17 esteemed higher education institutions, with collaboration at the heart of our ethos. The University of London federation is a collective community of more than 240,000 learners and 50,000 staff, delivering world-leading research across all disciplines.
                br
                |Our passion for increasing access to education and mobilising the collective power and expertise of the federation is central to our ability to transform lives around the world and address the global challenges of the future.

              .SubmitFilePage-form-submit.flex.justify-center
                +Button({ title: 'Tiếp theo', size: 'small', className: 'secondary', bordered: true })

          .SubmitFilePage-step-body-item
            each item in ['Upload file hồ sơ học thuật', 'Upload file hồ sơ cá nhân', 'Upload file hồ sơ tài chính']
              .Collapse.style-content.active
                .Collapse-header 
                  h4.Collapse-title= item
                .Collapse-icon 
                  img(src="./assets/icons/icon-angle-down.svg", alt="") 
                .Collapse-body 
                  .SubmitFilePage-upload-list.flex.flex-wrap
                    .SubmitFilePage-upload-list-item.upload.flex.flex-col.items-center.justify-center
                      input(type="file")
                      img(src="./assets/icons/icon-upload.svg", alt="")
                      |Upload file
                    
                    each item in [1,2,3,4,5,6]
                      .SubmitFilePage-upload-list-item
                        .SubmitFilePage-upload-list-item-image 
                          img(src="./assets/icons/icon-pdf.svg", alt="")
                        .SubmitFilePage-upload-list-item-info
                          h5.SubmitFilePage-upload-list-item-title Lorem Ipsum is simply dum.pdf
                          .SubmitFilePage-upload-list-item-delete.flex.items-center 
                            .SubmitFilePage-upload-list-item-delete-icon 
                              img(src="./assets/icons/icon-delete.svg", alt="")
                            |Xóa

            .SubmitFilePage-form-submit.flex.justify-center
              +Button({ title: 'Hoàn thành', size: 'small', className: 'secondary js-open-modal', bordered: true, dataModalId: '#ModalSubmitFileSuccess' })