extends includes/layouts/Admin.pug

block pages
  .ProfilePage
    .container 
      .ProfilePage-wrapper.flex.flex-wrap
        .ProfilePage-wrapper-item
          .Card.ProfilePage-table-content
            .Card-header.text-center Tài khoản
            .Card-body 
              ul.ProfilePage-table-content-list 
                each item in dataProfileTableContent
                  li.ProfilePage-table-content-list-item 
                    a(href=`${item.link}` class=`${item.isActive ? 'active' : ''}`)= item.title
                li.ProfilePage-table-content-list-item 
                  span.js-open-modal(data-modal-id="#ModalLogout") Đăng xuất

        .ProfilePage-wrapper-item
          .ProfileManagement
            .Card 
              .Card-header THông tin của bạn
              .Card-body 
                .ProfileManagement-info.flex.flex-wrap 
                  .ProfileManagement-info-item
                    .ProfilePage-label Tên của bạn: #[strong Hoang Huy]
                  .ProfileManagement-info-item
                    .ProfilePage-label Số điện thoại: #[strong 0364 111 99]
                  .ProfileManagement-info-item
                    .ProfilePage-label Quốc gia du học: #[strong Anh Quốc]
                  .ProfileManagement-info-item
                    .ProfilePage-label Email: #[strong Hoanghuy123@gmail.com]
                  .ProfileManagement-info-item
                    .ProfilePage-label Bậc học: #[strong Đại học]
                  .ProfileManagement-info-item
                    .ProfilePage-label Ielts: #[strong 7.5]
                  .ProfileManagement-info-item
                    .ProfilePage-label Thời gian gửi: #[strong 08:00 - 20/07/2022]
                  .ProfileManagement-info-item
                    a(href="cap-nhat-thong-tin-du-hoc.html").flex.items-center.justify-end
                      span
                        strong Chỉnh sửa
                      img(src="./assets/icons/icon-arrow-right-orange.svg" alt="")

            br

            .Card 
              .Card-header THông tin hồ sơ
              .Card-body 
                .SubmitFilePage-step-body-item
                  each item in ['Hồ sơ học thuật', 'Hồ sơ cá nhân', 'Hồ sơ tài chính']
                    .Collapse.style-content.active
                      .Collapse-header 
                        h4.Collapse-title= item
                      .Collapse-body 
                        .SubmitFilePage-upload-list.flex.flex-wrap
                          .SubmitFilePage-upload-list-item.upload.flex.flex-col.items-center.justify-center
                            input(type="file")
                            img(src="./assets/icons/icon-upload.svg" alt="")
                            |Upload file

                          each item in [1,2,3,4,5,6]
                            .SubmitFilePage-upload-list-item
                              .SubmitFilePage-upload-list-item-image 
                                img(src="./assets/icons/icon-pdf.svg" alt="")
                              .SubmitFilePage-upload-list-item-info
                                h5.SubmitFilePage-upload-list-item-title Lorem Ipsum is simply dum.pdf
                                .SubmitFilePage-upload-list-item-delete.flex.items-center 
                                  .SubmitFilePage-upload-list-item-delete-icon 
                                    img(src="./assets/icons/icon-delete.svg" alt="")
                                  |Xóa
