extends includes/layouts/Guest.pug

block pages
  .CompareSchoolPage
    include includes/containers/ModalContactInformation.pug

    +Banner({ text: 'So sánh trường', image: './assets/images/image-banner-school-list.png', height: '26.4rem' })

    .container 
      .CompareSchoolPage-wrapper   
        .CompareSchoolPage-table 
          table
            thead 
              tr 
                td 
                  .CompareSchoolPage-table-download 
                    .CompareSchoolPage-table-download-icon 
                      img(src="./assets/icons/icon-pdf.svg" alt="")
                    .CompareSchoolPage-table-download-btn 
                      +Button({ title: 'Xuất PDF', icon: './assets/icons/icon-download.svg', isReserve: true, size: 'small', bordered: true })

                each item in [1,2,3,4]
                  td
                    +SchoolBlock({
                      index: 0,
                      image: './assets/images/logo-university.png',
                      title: 'City, University of London',
                      description: 'We are the UK’s leading provider of digital and blended distance  education',
                      link: 'chi-tiet-truong.html',
                    })

            tbody 
              each item in ['Giới thiệu chung', 'Thành phố', 'Thông tin nổi bật', 'Chương trình học', 'Cơ sở vật chất', 'Học Phí', '', 'Học bổng', 'Điều kiện đầu vào', 'Feedback']
                tr 
                  td=item 
                  each item in [1,2,3,4]
                    td Lorem Ipsum is simply dummy text of the printing and typeset industry.

              tr 
                td 
                each item in [1,2,3,4]
                  td 
                    .CompareSchoolPage-table-btns
                      +Button({ title: 'Liên hệ tư vấn', size: 'small', bordered: true, className: 'js-open-modal', dataModalId: '#ModalContactInformation' })
                      +Button({ title: 'Nộp hồ sơ', size: 'small',bordered: true,  className: 'secondary' })
