extends includes/layouts/Admin.pug

block pages
  .ProfilePage
    .container 
      .ProfilePage-wrapper.flex.flex-wrap
        .ProfilePage-wrapper-item
          .Card.ProfilePage-table-content
            .Card-header.text-center Tài khoản
            .Card-body 
              ul.ProfilePage-table-content-list 
                each item in dataProfileTableContent
                  li.ProfilePage-table-content-list-item 
                    a(href=`${item.link}` class=`${item.isActive ? 'active' : ''}`)= item.title
                li.ProfilePage-table-content-list-item 
                  span.js-open-modal(data-modal-id="#ModalLogout") Đăng xuất

        .ProfilePage-wrapper-item
          .TrackProfile
            .Card 
              .Card-header.text-center Danh sách Hồ sơ
              .Card-body
                each iten in [1,2,3]
                  .TrackProfile-item-wrapper.Collapse
                    .Collapse-header
                      .TrackProfile-header.flex.items-center.justify-between
                        .TrackProfile-header-logo 
                          img(src="./assets/images/logo-university.png", alt="")
                        .TrackProfile-header-info 
                          h1.TrackProfile-header-info-title.flex.items-center 
                            |City, University of London
                            span VIP

                          p.TrackProfile-header-info-description We are the UK’s leading provider of digital and blended distance  education

                        .TrackProfile-text.flex.items-center.justify-end.arrow
                          img(src="./assets/icons/icon-angle-down-orange.svg" alt="")

                    .Collapse-body
                      .TrackProfile-body
                        each item in [1,2]
                          .TrackProfile-item
                            .TrackProfile-item-row.flex.flex-wrap.justify-between
                              .TrackProfile-item-col
                                .TrackProfile-text
                                  |Tên của bạn: 
                                  strong Hoang Huy
                              .TrackProfile-item-col
                                .TrackProfile-text
                                  |Quốc gia du học: 
                                  strong Anh Quốc
                              .TrackProfile-item-col
                                .TrackProfile-text
                                  |Trạng thái: 
                                  strong.pending Đang chờ xét duyệt
                              .TrackProfile-item-col
                                .TrackProfile-text
                                  |Thời gian gửi: 
                                  strong 08:00 - 20/07/2022
                              .TrackProfile-item-col
                              .TrackProfile-item-col
                                a(href="chi-tiet-ho-so.html").TrackProfile-text.flex.items-center.justify-end.arrow
                                  |Xem chi tiết
                                  img(src="./assets/icons/icon-arrow-right-orange.svg" alt="")

                          .TrackProfile-item
                            .TrackProfile-item-row.flex.flex-wrap.justify-between
                              .TrackProfile-item-col
                                .TrackProfile-text
                                  |Tên của bạn: 
                                  strong Hoang Huy
                              .TrackProfile-item-col
                                .TrackProfile-text
                                  |Quốc gia du học: 
                                  strong Anh Quốc
                              .TrackProfile-item-col
                                .TrackProfile-text
                                  |Trạng thái: 
                                  strong.success Đã duyệt
                              .TrackProfile-item-col
                                .TrackProfile-text
                                  |Thời gian gửi: 
                                  strong 08:00 - 20/07/2022
                              .TrackProfile-item-col
                              .TrackProfile-item-col
                                a(href="chi-tiet-ho-so.html").TrackProfile-text.flex.items-center.justify-end.arrow
                                  |Xem chi tiết
                                  img(src="./assets/icons/icon-arrow-right-orange.svg" alt="")