extends includes/layouts/Guest.pug

block pages
  .NewsPage
    +Banner({ image: './assets/images/image-banner-new.png', text: 'TIn tức & sự kiện', height: '26.4rem' })

    .container
      .NewsPage-wrapper.flex.flex-wrap 
        .NewsPage-wrapper-item
          .Card
            .Card-header Tin tức và sự kiện
            .Card-body(style="padding: 2.4rem 2rem;")
              .NewsPage-list.flex.flex-wrap
                each item in [1,2,3,4,5,6,7,8,9]
                  .NewsPage-list-item
                    +NewBlock({
                      title: 'Cơ hội định cư tại Anh Quốc',
                      description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indus standard dummy text ever since the 1500s,',
                      link: 'chi-tiet-tin-tuc-su-kien.html',
                    })
                    
        .NewsPage-wrapper-item
          .Card
            .Card-header Tin tức và sự kiện
            .Card-body 
              .NewsPage-list-hightlight
                each item in [1,2,3,4,5,6]
                  .NewsPage-list-hightlight-item
                    +NewBlock({
                      type: 'horizontal',
                      title: 'Lorem Ipsum is simply dummy text of the printing ',
                      description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indus standard dummy text ever since the 1500s,',
                      link: 'chi-tiet-tin-tuc-su-kien.html',
                    })

              .NewsPage-list-hightlight-btn 
                +Button({ title: 'Xem thêm', size: 'small', className: 'secondary' })